<div class="container">

    <div class="row" style="height: 10vh"></div>

    <form action="http://capstone-crawler.appspot.com/crawler" method="get">

    <div class="row forms">
      <div class="col s2 grid forms"></div>
      <div class="input-field col s8 grid forms">
        <input placeholder="Enter a valid URL" id="webCrawlURL" type="text" class="validate">
      </div>
      <div class="col s2 grid forms"></div>
    </div>

    <div class="row forms"> 
      <div class="col s2 grid forms"></div>
      <div class="input-field col s8 grid forms">
        <input placeholder="Enter the depth" id="crawlDepth" type="text" class="validate">
      </div>
      <div class="col s2 grid forms"></div>
    </div>
    
    <div class="row forms">
      <div class="col s2 grid forms"></div>
      <div class="input-field col s8 grid forms">
        <input placeholder="Number of pages" id="pagesToCrawl" type="text" class="validate">
        <input type="submit" style="position: absolute; left: -9999px" />
      </div>
      <div class="col s2 grid forms"></div>
    </div>

    </form>
 

</div>
